
// All common typohraphy & fonts 
// Will be scaling font size on media query ( 1024px, 768px & 574px )


// font family


.site-title {

	font-family:$primary_font_family;
} 

.widget .widget-title h3,
.gc-post-widget .post-title h4,
.related-posts .post-title h4 {

	font-family:$secondary_font_family;
}

.error-page-entry .error-subtitle h3,
.error-page-entry .error-header h1 {

	font-family:'Arial','Halvetica', 'Halvetica Nue', Sans Serif;
}


// transforms 

.gc-button-primary,
.entry-metas ul li,
.entry-metas ul li a,
.entry-metas ul li span,
.entry-cats ul li a,
.read-more-button,
.widget .widget-title h3,
#gc-backtotop .caption,
.site-navigation > ul > li > a,
.post-navigation .nav-links span,
.error-page-entry .error-subtitle h3,
.wp-block-search .wp-block-search__label,
.gc-pagination nav.pagination .nav-links .page-numbers.next,
.gc-pagination nav.pagination .nav-links .page-numbers.prev  {

	text-transform: uppercase;
}


// font style 


q,
blockquote {

	font-style: italic;
}


// font weight 

q,
blockquote,
.is-post-format span,
.gc-post-widget .post-title h4,
.related-posts .post-title h4,
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a {

	font-weight:normal;
}

q,
blockquote,
.gc-button-primary,
.entry-metas ul li,
.entry-metas ul li a,
.entry-metas ul li span,
.calendar_wrap caption {

	font-weight:500;
}


.entry-cats ul li a,
.read-more-button,
#gc-backtotop .caption,
.site-navigation > ul > li > a,
.post-navigation .nav-links span,
.gc-pagination nav.pagination .nav-links .page-numbers.next,
.gc-pagination nav.pagination .nav-links .page-numbers.prev  {

	font-weight:600;
}

.mastheader .site-title,
.widget .widget-title h3 {

	font-weight:bold;
}

.error-page-entry .error-header h1 {

	font-weight:900;
}


// line height 


.entry-metas ul li,
.entry-metas ul li a,
.entry-metas ul li span,
#gc-backtotop .caption,
.wp-block-button__link,
.wp-block-search .wp-block-search__button {

	line-height: 1;
}

.mastheader .site-title {

	line-height:1.3;
}

.gc-post-widget .post-title h4,
.related-posts .post-title h4,
.post-navigation .nav-previous a,
.post-navigation .nav-next a {

	line-height:1.6;
}


// font sizes 

.entry-metas ul li,
.entry-metas ul li a,
.entry-metas ul li span {

	font-size: 11px;
}

.read-more-button,
.entry-cats ul li a {

	font-size: 12px;
}

.gc-button-primary,
#gc-backtotop .caption,
.site-navigation > ul > li > a,
.post-navigation .nav-links span,
.gc-pagination nav.pagination .nav-links .page-numbers,
.wp-block-search .wp-block-search__label {

	font-size: 13px;
}

.excerpt p,
.wp-block-button__link,
.gc-breadcrumb ul li a,
.footer .copyright-info p,
.gc-breadcrumb ul li span,
.entry-tags .post-tags a,
.site-navigation ul li .sub-menu li a 
.site-navigation ul li .children li a,
.widget_recent_entries .post-date,
.calendar_wrap caption,
.widget_search form input[type="search"],
.wp-block-pullquote__citation, 
.wp-block-pullquote cite, 
.wp-block-pullquote footer,
.wp-block-quote__citation, 
.wp-block-quote cite, 
.wp-block-quote footer,
.wp-block-search .wp-block-search__button {

	font-size: 15px;
}


.mastheader .search-trigger,
.mastheader .canvas-trigger,
.gc-post-widget .post-title h4,
.related-posts .post-title h4,
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a {

	font-size: 16px;
}

.widget .widget-title h3 {

	font-size:17px;
}


.is-post-format span,
.error-page-entry .error-subtitle h3 {

	font-size: 18px;
}


.author-box .author-name h3,
.related-posts .section-title h3 {

	font-size:28px;
}

q,
blockquote {

	font-size: 32px;
}

.gc-banner-s1 .post-title h2 {

	font-size: 34px;
}

.gc-blog-list-s1 .post-title h3 {

	font-size: 42px;
}

.page-title h1,
.page-title h2,
.page-title h3 {

	font-size:46px;
}

.mastheader .site-title {

	font-size: 52px;
}

.error-page-entry .error-header h1 {

	font-size:112px;
}

