.woocommerce,
.woocommerce-page {
  .col2-set .col-1,
  .col2-set .col-2 {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.woocommerce-checkout {

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    border: 1px solid #ddd;
  }

}
