
// Define few colors


$facebook:#4267B2;

$twitter:#1DA1F2;

$instagram:#8A33A4;

$googleplus:#DC4C40;

$vk:#507299;

$pinterest:#BD081C;

$reddit:#CEE3F8;

$youtube:#FF0000;

$snapchat:#FFD600;

$linkedin:#0274B3;

$vimeo:#1AB7EA;

$spotify:#1AA64A;

$reddit:#FF4500;

$dribble:#DF3E7B;

$black:#000000;

$white:#ffffff;


// General Color Variables 

$primary_color 							: #222222; 		// Black
$secondary_color						: #EC521E; 		// Orange
$third_color							: #fee198;		// Yellow ( button bg colors etc )
$special_purpose_color					: #9c9c9c; 		// Light Grey
$border_color							: #f5f5f5; 		// 
$mask_background						: rgba(50,50,50,0.2); 



// category colors 


$cat_color_1							:#f3b9b9;
$cat_color_2							:#a5caea;
$cat_color_3							:#a2ded6;
$cat_color_4							:#e1e8aa;
$cat_color_5							:#d3aae8;
$cat_color_6							:#e8d3aa;
$cat_color_7							:#c7c7c7;
$cat_color_8							:#aef3d7;
$cat_color_9							:#505050;
$cat_color_10							:#db99ef;


//  Footer ( Dark )

$dark_footer_bg							: #111111; //
$dark_footer_bottom_bg					: #171717; // Pure black 
$dark_footer_heading_color				: #f5f5f5;
$dark_footer_widget_title_border		: #f5b108;  // yellow
$dark_footer_links_color				: #949494; //
$dark_footer_border_color				: #232323;
$dark_footer_border_alt_color			: #403f3f; // Alt border color for nice select etc
$dark_footer_element_bg_color			: #3a3a3a;
$dark_footer_hover_color				: #f5b108; // yellow


// Footer ( Light bg )

$light_footer_bg						: #f5f5f5;
$light_footer_border_color				: #f3ecec;






